# Inflación Global

En el siguiente proyecto voy a realizar un proceso de ETL a un archivo CSV que contiene datos sobre la inflación de cada país desde el año 1980 hasta el 2024. El objetivo de dicho proyecto es mostrar la inflación global a partir del 2000 hasta el año 2023.

## Configuración de Entorno

In [1]:
! pip install --upgrade pip
! pip install -r requirements.txt

Requirement already satisfied: pip in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (24.0)
Requirement already satisfied: matplotlib in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from -r requirements.txt (line 1)) (3.8.3)
Requirement already satisfied: numpy in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from -r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: pandas in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from -r requirements.txt (line 3)) (2.2.1)
Requirement already satisfied: pyreader in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from -r requirements.txt (line 4)) (0.0.1)
Requirement already satisfied: pip in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from -r requirements.txt (line 5)) (24.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->-r requirements.txt (line 3)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->-r requirements.txt (line 3)) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\roble\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.7->matplotlib->-r requirements.txt (line 1)) (1.16.0)

## Objeto de Trabajo

In [2]:
# Cargo el conjunto de datos desde el archivo CSV utilizando pandas
import pandas as pd

# Carga del CSV 

infl_dt = pd.read_csv('C:/Users/roble/OneDrive/Escritorio/pr/inflation_rate_project/global_inflation_data.csv')

## Exploración de Datos

In [3]:
# ¿Cómo es nuestro conjunto de datos?

infl_dt

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Annual average inflation (consumer prices) rate,13.4,22.2,18.2,15.9,20.4,8.7,-2.1,18.4,...,-0.66,4.38,4.98,0.63,2.3,5.44,5.06,13.71,9.1,NaN
1,Albania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.90,1.30,2.00,2.00,1.4,1.60,2.00,6.70,4.8,4.0
2,Algeria,Annual average inflation (consumer prices) rate,9.7,14.6,6.6,7.8,6.3,10.4,14.0,5.9,...,4.80,6.40,5.60,4.30,2.0,2.40,7.20,9.30,9.0,6.8
3,Andorra,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.10,-0.40,2.60,1.00,0.5,0.10,1.70,6.20,5.2,3.5
4,Angola,Annual average inflation (consumer prices) rate,46.7,1.4,1.8,1.8,1.8,1.8,1.8,1.8,...,9.20,30.70,29.80,19.60,17.1,22.30,25.80,21.40,13.1,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,Annual average inflation (consumer prices) rate,25.2,69.6,95.4,49.5,64.9,91.6,453.5,360.4,...,0.60,2.70,3.50,3.50,2.8,3.20,1.80,3.20,3.4,3.4
192,West Bank and Gaza,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,-0.20,0.20,-0.20,1.6,-0.70,1.20,3.70,3.4,2.7
193,Yemen,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.00,21.30,30.40,33.60,15.7,21.70,31.50,29.50,14.9,17.3
194,Zambia,Annual average inflation (consumer prices) rate,11.7,14.0,12.5,19.7,20.0,37.4,48.0,43.0,...,10.10,17.90,6.60,7.50,9.2,15.70,22.00,11.00,10.6,9.6
195,Zimbabwe,Annual average inflation (consumer prices) rate,NaN,5.6,0.6,-8.5,-1.9,-16.0,10.7,12.8,...,-2.40,-1.60,0.90,10.60,255.3,557.20,98.50,193.40,314.5,222.4

In [4]:
# ¿Qué tipo de dato son las variables del conjunto de datos?

infl_dt.dtypes

country_name       object
indicator_name     object
1980              float64
1981              float64
1982              float64
1983              float64
1984              float64
1985              float64
1986              float64
1987              float64
1988              float64
1989              float64
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
2023              float64
2024              float64
dtype: object

In [5]:
# ¿Cuántas variables de cada tipo de dato tenemos en el conjunto de datos?

(
    infl_dt
    .dtypes
    .value_counts()
)

float64    45
object      2
Name: count, dtype: int64

In [6]:
# ¿Cuántas filas y columnas tenemos en el conjunto de datos?

infl_dt.shape

# Entonces en el dataframe hay 196 filas y 47 columnas.

(196, 47)

In [7]:
# ¿Existen valores nulos explícitos en el conjunto de datos?

(
    infl_dt
    .isnull()
    .any()
)

country_name      False
indicator_name    False
1980               True
1981               True
1982               True
1983               True
1984               True
1985               True
1986               True
1987               True
1988               True
1989               True
1990               True
1991               True
1992               True
1993               True
1994               True
1995               True
1996               True
1997               True
1998               True
1999               True
2000               True
2001               True
2002               True
2003               True
2004               True
2005               True
2006               True
2007               True
2008               True
2009               True
2010               True
2011               True
2012               True
2013               True
2014               True
2015               True
2016               True
2017               True
2018               True
2019               True
2020               True
2021               True
2022               True
2023               True
2024               True
dtype: bool

In [8]:
# De tener observaciones con valores nulos, ¿cuántas tenemos por cada variable?

(
    infl_dt
    .isnull()
    .sum()
)

country_name       0
indicator_name     0
1980              56
1981              52
1982              51
1983              51
1984              51
1985              51
1986              51
1987              49
1988              49
1989              49
1990              46
1991              41
1992              38
1993              27
1994              25
1995              24
1996              20
1997              17
1998              15
1999              14
2000              13
2001               9
2002               7
2003               6
2004               5
2005               3
2006               3
2007               3
2008               3
2009               3
2010               3
2011               4
2012               3
2013               2
2014               2
2015               2
2016               2
2017               1
2018               1
2019               1
2020               2
2021               2
2022               2
2023               4
2024               5
dtype: int64

In [9]:
# Naturaleza de los valores nulos

infl_dt_null=infl_dt[infl_dt.isnull().any(axis=1)]

infl_dt_null

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Annual average inflation (consumer prices) rate,13.4,22.2,18.2,15.9,20.4,8.7,-2.1,18.4,...,-0.66,4.38,4.98,0.63,2.3,5.44,5.06,13.71,9.1,NaN
1,Albania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.90,1.30,2.00,2.00,1.4,1.60,2.00,6.70,4.8,4.0
3,Andorra,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.10,-0.40,2.60,1.00,0.5,0.10,1.70,6.20,5.2,3.5
6,Argentina,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,25.70,34.30,53.5,42.00,48.40,72.40,121.7,93.7
7,Armenia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.70,-1.40,1.20,2.50,1.4,1.20,7.20,8.60,3.5,4.0
8,Aruba,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6,...,0.50,-0.90,-1.00,3.60,3.9,-1.30,0.70,5.50,4.5,2.3
11,Azerbaijan,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.00,12.40,12.90,2.30,2.6,2.80,6.70,13.90,10.3,5.6
16,Belarus,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.50,11.80,6.00,4.90,5.6,5.50,9.50,15.20,4.7,5.7
22,Bosnia and Herzegovina,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.00,-1.60,0.80,1.40,0.6,-1.10,2.00,14.00,5.5,3.0
25,Brunei Darussalam,Annual average inflation (consumer prices) rate,NaN,NaN,0.0,1.2,3.1,2.1,1.8,1.2,...,-0.50,-0.30,-1.30,1.00,-0.4,1.90,1.70,3.70,1.7,1.5
30,Cambodia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-31.2,...,1.20,3.00,2.90,2.50,1.9,2.90,2.90,5.30,2.0,3.0
36,"China, People's Republic of",Annual average inflation (consumer prices) rate,NaN,2.5,2.0,2.0,2.7,9.3,6.5,7.3,...,1.50,2.10,1.50,1.90,2.9,2.50,0.90,1.90,0.7,1.7
42,Croatia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.30,-0.60,1.30,1.60,0.8,0.00,2.70,10.70,8.6,4.2
44,Czech Republic,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.30,0.70,2.50,2.10,2.8,3.20,3.80,15.10,10.9,4.6
47,Djibouti,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.80,2.70,0.60,0.10,3.3,1.80,1.20,5.20,1.2,1.8
54,Eritrea,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.50,-5.60,-13.30,-14.40,1.3,NaN,NaN,NaN,NaN,NaN
55,Estonia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.10,0.80,3.70,3.40,2.3,-0.60,4.50,19.40,10.0,3.8
63,Georgia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.00,2.10,6.00,2.60,4.9,5.20,9.60,11.90,2.4,2.7
80,Iraq,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,0.50,0.20,0.40,-0.2,0.60,6.00,5.00,5.3,3.6
87,Kazakhstan,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.70,14.60,7.40,6.00,5.2,6.80,8.00,15.00,15.0,9.0
91,Kosovo,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.50,0.20,1.50,1.10,2.7,0.20,3.30,11.70,4.7,3.1
92,Kuwait,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.30,2.90,1.60,0.60,1.1,2.10,3.40,4.00,3.4,3.1
93,Kyrgyz Republic,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,0.40,3.20,1.50,1.1,6.30,11.90,13.90,11.7,8.6
95,Latvia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.20,0.10,2.90,2.60,2.7,0.10,3.20,17.20,9.9,4.2
96,Lebanon,Annual average inflation (consumer prices) rate,23.9,19.3,18.6,7.2,17.6,69.4,95.4,487.2,...,-3.80,-0.80,4.50,6.10,2.9,84.90,154.80,171.20,NaN,NaN
98,Liberia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.70,8.80,12.40,23.50,27.0,17.00,7.80,7.60,10.6,8.0
100,Lithuania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.70,0.70,3.70,2.50,2.2,1.10,4.60,18.90,9.3,3.9
102,Macao SAR,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.60,2.40,1.20,3.00,2.8,0.80,0.00,1.00,0.9,1.7
109,Marshall Islands,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.20,-1.50,0.10,0.80,-0.1,-0.70,2.20,3.20,5.2,2.8
110,Mauritania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.50,1.50,2.30,3.10,2.3,2.40,3.60,9.60,7.5,4.0
113,"Micronesia, Fed. States of",Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,-0.90,0.10,1.00,2.2,1.00,1.80,5.00,5.3,4.1
114,Moldova,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.60,6.40,6.50,3.60,4.8,3.80,5.10,28.60,13.3,5.0
115,Mongolia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.80,0.70,4.30,6.80,7.3,3.70,7.40,15.20,12.3,12.2
116,Montenegro,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.50,-0.30,2.40,2.60,0.4,-0.20,2.40,13.00,8.3,4.3
119,Myanmar,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.30,9.10,4.60,5.90,8.6,5.70,3.60,16.20,14.2,7.8
120,Namibia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.40,6.70,6.10,4.30,3.7,2.20,3.60,6.10,6.0,4.9
121,Nauru,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.80,8.20,5.10,-14.40,4.2,1.00,2.00,4.80,6.1,5.0
123,Netherlands,Annual average inflation (consumer prices) rate,NaN,6.8,5.9,2.9,3.4,2.3,0.0,-1.0,...,0.20,0.10,1.30,1.60,2.7,1.10,2.80,11.60,4.0,4.2
127,Nigeria,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.00,15.70,16.50,12.10,11.4,13.20,17.00,18.80,25.1,23.0
128,North Macedonia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.30,-0.20,1.40,1.50,0.8,1.20,3.20,14.20,10.0,4.3
132,Palau,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.20,-1.30,1.10,2.40,0.4,0.70,-0.50,13.20,12.5,4.6
140,Puerto Rico,Annual average inflation (consumer prices) rate,NaN,9.5,3.2,0.3,1.7,0.2,-0.2,2.1,...,-0.80,-0.30,1.80,1.30,0.1,-0.50,2.40,5.90,2.9,1.5
143,Russian Federation,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.50,7.00,3.70,2.90,4.5,3.40,6.70,13.80,5.3,6.3
149,San Marino,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.10,0.60,1.00,1.20,0.5,-0.10,2.10,5.30,5.9,2.5
152,Serbia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,1.10,3.10,2.00,1.8,1.60,4.10,12.00,12.4,5.3
156,Slovak Republic,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.30,-0.50,1.40,2.50,2.8,2.00,2.80,12.10,10.9,4.8
157,Slovenia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.50,-0.10,1.40,1.70,1.6,-0.10,1.90,8.80,7.4,4.2
159,Somalia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.90,0.00,4.00,4.30,4.5,4.30,4.60,6.80,5.7,4.1
161,"South Sudan, Republic of",Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.00,346.10,213.00,83.40,49.3,24.00,30.20,-3.20,16.3,13.6
163,Sri Lanka,Annual average inflation (consumer prices) rate,26.1,18.0,10.8,14.0,16.6,1.5,8.0,7.7,...,2.20,4.00,6.60,4.30,4.3,4.60,6.00,45.20,NaN,NaN
168,Syria,Annual average inflation (consumer prices) rate,19.3,18.4,14.3,6.0,9.5,16.8,36.2,71.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,Tajikistan,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.80,5.90,7.30,3.80,7.8,8.60,9.00,6.60,4.6,5.7
174,Timor-Leste,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.60,-1.50,0.50,2.30,0.9,0.50,3.80,7.00,6.0,2.5
179,Turkmenistan,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.40,3.60,8.00,13.30,5.1,6.10,19.50,11.20,5.9,10.5
180,Tuvalu,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.10,3.50,4.10,2.20,3.5,1.90,6.20,11.50,6.2,3.8
183,Ukraine,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.70,13.90,14.40,10.90,7.9,2.70,9.40,20.20,17.7,13.0
188,Uzbekistan,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.50,8.80,13.90,17.50,14.5,12.90,10.80,11.40,10.2,10.0
192,West Bank and Gaza,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,-0.20,0.20,-0.20,1.6,-0.70,1.20,3.70,3.4,2.7
193,Yemen,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.00,21.30,30.40,33.60,15.7,21.70,31.50,29.50,14.9,17.3
195,Zimbabwe,Annual average inflation (consumer prices) rate,NaN,5.6,0.6,-8.5,-1.9,-16.0,10.7,12.8,...,-2.40,-1.60,0.90,10.60,255.3,557.20,98.50,193.40,314.5,222.4

Lo que se observa es que hay varios paises que contienen valores nulos de diferentes naturalezas, algunas son subsecuentes de cambios historicos como en el caso de Ucrania, el cual en el año 1992 luego de la disolución de la Unión Soviética se formo como un estado independiente. Tambien debido a mejoras en la recopilación de datos o si los países quisieron compartir dicha información. Por consiguiente no voy aplicar ninguna acción sobre estos valores nulos.

## Transformación

Objetivos:

- Tomar datos desde el 2000 hasta el 2023.
- Armar datasets separado por continentes.
- Agregar una nueva columna, indicando el continente al que pertenece.
- Unir esos datasets en uno nuevo.

### Primer objetivo: Datos del 2000 al 2023

In [10]:
# Nuevo DataFrame que contenga datos del 2000 al 2023. Para ello voy a unir las columnas de los años en uno solo.

# Creamos una lista de años que usaremos como índice para las nuevas filas
years = [str(year) for year in range (2000, 2023)]

# Usando la función 'melt()' para combinar las columnas de años en una nueva columna llamada 'Year'

infl_dt_1 = pd.melt(infl_dt, id_vars=['country_name', 'indicator_name'], value_vars=years, var_name='Year', value_name='Inflation')

# Esto creará un nuevo DataFrame ('df_melted') donde cada fila representará un país, un indicador de inflación, un año y su correspondiente inflación

infl_dt_1

,country_name,indicator_name,Year,Inflation
0,Afghanistan,Annual average inflation (consumer prices) rate,2000,0.0
1,Albania,Annual average inflation (consumer prices) rate,2000,0.0
2,Algeria,Annual average inflation (consumer prices) rate,2000,0.3
3,Andorra,Annual average inflation (consumer prices) rate,2000,NaN
4,Angola,Annual average inflation (consumer prices) rate,2000,325.0
...,...,...,...,...
4503,Vietnam,Annual average inflation (consumer prices) rate,2022,3.2
4504,West Bank and Gaza,Annual average inflation (consumer prices) rate,2022,3.7
4505,Yemen,Annual average inflation (consumer prices) rate,2022,29.5
4506,Zambia,Annual average inflation (consumer prices) rate,2022,11.0
4507,Zimbabwe,Annual average inflation (consumer prices) rate,2022,193.4

In [11]:
# Ahora me gustaría cambiar el nombre de las columnas "country_name" e "indicator_name" por:

infl_dt_1 = infl_dt_1.rename(columns={'country_name':'Country', 'indicator_name':'Indicator'})

infl_dt_1

,Country,Indicator,Year,Inflation
0,Afghanistan,Annual average inflation (consumer prices) rate,2000,0.0
1,Albania,Annual average inflation (consumer prices) rate,2000,0.0
2,Algeria,Annual average inflation (consumer prices) rate,2000,0.3
3,Andorra,Annual average inflation (consumer prices) rate,2000,NaN
4,Angola,Annual average inflation (consumer prices) rate,2000,325.0
...,...,...,...,...
4503,Vietnam,Annual average inflation (consumer prices) rate,2022,3.2
4504,West Bank and Gaza,Annual average inflation (consumer prices) rate,2022,3.7
4505,Yemen,Annual average inflation (consumer prices) rate,2022,29.5
4506,Zambia,Annual average inflation (consumer prices) rate,2022,11.0
4507,Zimbabwe,Annual average inflation (consumer prices) rate,2022,193.4

### Segundo objetivo: Datasets por continentes

#### Africa

In [12]:
country_afr = [ "Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cabo Verde",
    "Cameroon", "Chad", "Comoros", "Democratic Republic of the Congo", "Djibouti", "Egypt",
    "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia", "Gabon", "Gambia", "Ghana",
    "Guinea", "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya",
    "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique",
    "Namibia", "Niger", "Nigeria", "Rwanda", "Sao Tome and Principe", "Senegal", "Seychelles",
    "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Tanzania", "Togo",
    "Tunisia", "Uganda", "Zambia", "Zimbabwe", "North Sudan", "Western Sahara"]

infl_dt_1_afr = infl_dt_1[infl_dt_1['Country'].isin(country_afr)]

infl_dt_1_afr

,Country,Indicator,Year,Inflation
2,Algeria,Annual average inflation (consumer prices) rate,2000,0.3
4,Angola,Annual average inflation (consumer prices) rate,2000,325.0
19,Benin,Annual average inflation (consumer prices) rate,2000,4.0
23,Botswana,Annual average inflation (consumer prices) rate,2000,8.5
27,Burkina Faso,Annual average inflation (consumer prices) rate,2000,-0.2
...,...,...,...,...
4487,Togo,Annual average inflation (consumer prices) rate,2022,7.6
4490,Tunisia,Annual average inflation (consumer prices) rate,2022,8.3
4494,Uganda,Annual average inflation (consumer prices) rate,2022,7.2
4506,Zambia,Annual average inflation (consumer prices) rate,2022,11.0
4507,Zimbabwe,Annual average inflation (consumer prices) rate,2022,193.4

#### América

In [13]:
country_amer = ["Canada", "United States","Mexico", "Greenland", "Bermuda", "Saint Pierre and Miquelon","Belize", "Costa Rica", "El Salvador", "Guatemala", "Honduras", "Nicaragua", "Panama", "Antigua and Barbuda", "Bahamas", "Barbados", "Cuba", "Dominica", "Dominican Republic", "Grenada", "Haiti", "Jamaica", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "Puerto Rico", "Turks and Caicos Islands", "Cayman Islands", "British Virgin Islands", "United States Virgin Islands", "Anguilla", "Montserrat","Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Guyana", "Paraguay", "Peru", "Suriname", "Uruguay", "Venezuela", "French Guiana"]

infl_dt_1_amer = infl_dt_1[infl_dt_1['Country'].isin(country_amer)]

infl_dt_1_amer

,Country,Indicator,Year,Inflation
5,Antigua and Barbuda,Annual average inflation (consumer prices) rate,2000,-0.2
6,Argentina,Annual average inflation (consumer prices) rate,2000,-0.9
15,Barbados,Annual average inflation (consumer prices) rate,2000,2.4
18,Belize,Annual average inflation (consumer prices) rate,2000,0.6
21,Bolivia,Annual average inflation (consumer prices) rate,2000,4.6
...,...,...,...,...
4477,Suriname,Annual average inflation (consumer prices) rate,2022,52.4
4489,Trinidad and Tobago,Annual average inflation (consumer prices) rate,2022,5.8
4498,United States,Annual average inflation (consumer prices) rate,2022,8.0
4499,Uruguay,Annual average inflation (consumer prices) rate,2022,9.1
4502,Venezuela,Annual average inflation (consumer prices) rate,2022,186.5

#### Asia

In [14]:
country_asia = ["Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan","Brunei", "Cambodia", "China", "Cyprus", "Georgia", "India", "Indonesia","Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait","Kyrgyzstan", "Laos", "Lebanon", "Malaysia", "Maldives", "Mongolia","Myanmar", "Nepal", "North Korea", "Oman", "Pakistan", "Palestine","Philippines", "Qatar", "Saudi Arabia", "Singapore", "South Korea","Sri Lanka", "Syria", "Taiwan", "Tajikistan", "Thailand", "Turkmenistan","United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"]

infl_dt_1_as = infl_dt_1[infl_dt_1['Country'].isin(country_asia)]

infl_dt_1_as

,Country,Indicator,Year,Inflation
0,Afghanistan,Annual average inflation (consumer prices) rate,2000,0.0
7,Armenia,Annual average inflation (consumer prices) rate,2000,-0.8
11,Azerbaijan,Annual average inflation (consumer prices) rate,2000,1.8
13,Bahrain,Annual average inflation (consumer prices) rate,2000,-0.7
14,Bangladesh,Annual average inflation (consumer prices) rate,2000,3.6
...,...,...,...,...
4491,Turkmenistan,Annual average inflation (consumer prices) rate,2022,11.2
4496,United Arab Emirates,Annual average inflation (consumer prices) rate,2022,4.8
4500,Uzbekistan,Annual average inflation (consumer prices) rate,2022,11.4
4503,Vietnam,Annual average inflation (consumer prices) rate,2022,3.2
4505,Yemen,Annual average inflation (consumer prices) rate,2022,29.5

#### Europa

In [15]:
country_eu = ["Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium","Bosnia and Herzegovina", "Bulgaria", "Croatia", "Cyprus", "Czech Republic","Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece","Hungary", "Iceland", "Ireland", "Italy", "Kazakhstan", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco","Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia","Slovenia", "Spain", "Sweden", "Switzerland", "Turkey", "Ukraine", "United Kingdom", "Vatican City", "Faroe Islands", "Gibraltar"]

infl_dt_1_eu = infl_dt_1[infl_dt_1['Country'].isin(country_eu)]

infl_dt_1_eu

,Country,Indicator,Year,Inflation
1,Albania,Annual average inflation (consumer prices) rate,2000,0.0
3,Andorra,Annual average inflation (consumer prices) rate,2000,NaN
7,Armenia,Annual average inflation (consumer prices) rate,2000,-0.8
10,Austria,Annual average inflation (consumer prices) rate,2000,2.0
11,Azerbaijan,Annual average inflation (consumer prices) rate,2000,1.8
...,...,...,...,...
4474,Spain,Annual average inflation (consumer prices) rate,2022,8.3
4478,Sweden,Annual average inflation (consumer prices) rate,2022,8.1
4479,Switzerland,Annual average inflation (consumer prices) rate,2022,2.8
4495,Ukraine,Annual average inflation (consumer prices) rate,2022,20.2
4497,United Kingdom,Annual average inflation (consumer prices) rate,2022,9.1

#### Oceanía

In [16]:
country_ocean = ["Australia", "Fiji", "Marshall Islands", "Solomon Islands", "Kiribati", "Micronesia", "Nauru", "New Zealand", "Palau", "Papua New Guinea","Samoa", "Tonga", "Tuvalu", "Vanuatu"]

infl_dt_1_oc = infl_dt_1[infl_dt_1['Country'].isin(country_ocean)]

infl_dt_1_oc

,Country,Indicator,Year,Inflation
9,Australia,Annual average inflation (consumer prices) rate,2000,4.5
58,Fiji,Annual average inflation (consumer prices) rate,2000,1.1
89,Kiribati,Annual average inflation (consumer prices) rate,2000,0.4
109,Marshall Islands,Annual average inflation (consumer prices) rate,2000,NaN
121,Nauru,Annual average inflation (consumer prices) rate,2000,NaN
...,...,...,...,...
4460,Samoa,Annual average inflation (consumer prices) rate,2022,8.7
4470,Solomon Islands,Annual average inflation (consumer prices) rate,2022,5.5
4488,Tonga,Annual average inflation (consumer prices) rate,2022,8.5
4492,Tuvalu,Annual average inflation (consumer prices) rate,2022,11.5
4501,Vanuatu,Annual average inflation (consumer prices) rate,2022,7.0

### Tercer paso: Agregar nueva columna, indicando el continente al que pertenece. A su vez guardo el data frame como CSV

In [17]:
# AFRICA

infl_dt_1_afr['Continent'] = 'AFR'

df_infl_dt_afr = pd.DataFrame(infl_dt_1_afr)

df_infl_dt_afr.to_csv('./csv/infl_dt_afr.csv')

# AMERICA

infl_dt_1_amer['Continent'] = 'AMER'

df_infl_dt_amer = pd.DataFrame(infl_dt_1_amer)

df_infl_dt_amer.to_csv('./csv/infl_dt_amer.csv')

# ASIA

infl_dt_1_as['Continent'] = 'AS'

df_infl_dt_as = pd.DataFrame(infl_dt_1_as)

df_infl_dt_as.to_csv('./csv/infl_dt_as.csv')

# EUROPA

infl_dt_1_eu['Continent'] = 'EU'

df_infl_dt_eu = pd.DataFrame(infl_dt_1_eu)

df_infl_dt_eu.to_csv('./csv/infl_dt_eu.csv')

# OCEANIA

infl_dt_1_oc['Continent'] = 'OC'

df_infl_dt_oc = pd.DataFrame(infl_dt_1_oc)

df_infl_dt_oc.to_csv('./csv/infl_dt_oc.csv')

C:\Users\roble\AppData\Local\Temp\ipykernel_14824\1440744576.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infl_dt_1_afr['Continent'] = 'AFR'
C:\Users\roble\AppData\Local\Temp\ipykernel_14824\1440744576.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infl_dt_1_amer['Continent'] = 'AMER'
C:\Users\roble\AppData\Local\Temp\ipykernel_14824\1440744576.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infl_dt_1_as['Continent'] = 'AS'
C:\Users\roble\AppData\Local\Temp\ipykernel_14824\1440744576.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infl_dt_1_eu['Continent'] = 'EU'
C:\Users\roble\AppData\Local\Temp\ipykernel_14824\1440744576.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infl_dt_1_oc['Continent'] = 'OC'

### Cuarto objetivo: Unir esos datasets en uno nuevo.

In [18]:
# Creo una lista llamada data_frames que contendra todos mis DataFrames creados

data_frames = [df_infl_dt_afr, df_infl_dt_amer, df_infl_dt_as, df_infl_dt_eu, df_infl_dt_oc]

# Combino todos los DataFrames en uno solo

inflation_data = pd.concat(data_frames, ignore_index= True)

inflation_data

,Country,Indicator,Year,Inflation,Continent
0,Algeria,Annual average inflation (consumer prices) rate,2000,0.3,AFR
1,Angola,Annual average inflation (consumer prices) rate,2000,325.0,AFR
2,Benin,Annual average inflation (consumer prices) rate,2000,4.0,AFR
3,Botswana,Annual average inflation (consumer prices) rate,2000,8.5,AFR
4,Burkina Faso,Annual average inflation (consumer prices) rate,2000,-0.2,AFR
...,...,...,...,...,...
4066,Samoa,Annual average inflation (consumer prices) rate,2022,8.7,OC
4067,Solomon Islands,Annual average inflation (consumer prices) rate,2022,5.5,OC
4068,Tonga,Annual average inflation (consumer prices) rate,2022,8.5,OC
4069,Tuvalu,Annual average inflation (consumer prices) rate,2022,11.5,OC
4070,Vanuatu,Annual average inflation (consumer prices) rate,2022,7.0,OC

### Ahora guardo el DataFrame en un CSV en la carpeta de mi proyecto.

In [19]:
df = pd.DataFrame(inflation_data)
df.to_csv('./csv/inflation_data.csv')